/* ...................................the schedule*/
.views-row {
  margin-top: -157px;
}
.itinerary {
  color: #414042;
}
.itinerary h4 {
  position: relative;
  top: 266px;
  left: 0;
  font-family: 'Crimson Text', serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
}
.date-display-start,
.date-display-end {
  color: #414042;
  display: block;
  font-size: 40px;
  font-family: 'Crimson Text', serif;
  font-weight: 400;
}
.date-display-start {
  padding-bottom: 20px;
  line-height: 1;
}
.date-display-end {
  width: 60%;
  line-height: 1;
  border-top: 1px solid #414042;
}
.date-display-separator {
  display: none;
}
strong {
  font-weight: 400;
}
.prepend-1 {
  margin-bottom: 50px;
  color: #414042;
}
.prepend-1 div:nth-child(1) {
  margin-top: 85px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.prepend-1 div:nth-child(2) div:nth-child(2) {
  font-family: 'Open Sans', sans-serif;
}
.prepend-1 a {
  color: #a19159;
  font-family: 'Open Sans', sans-serif;
}
