/* ...................................the schedule*/

.bethel-schedule {
	.views-row:nth-child(n+2) {
		border-top: 1px solid @fontGray;
	}
}

// all of schedules font family & color
.itinerary {
	color: @fontGray;
	font-family: @serifFontFamily;
}

// date size
.date-display-start, .date-display-end {
	font-size: 48px;
	font-family: @serifFontFamily;
}

// hide dash separator
.date-display-separator {
	display: none;
}

// conference name
strong {
	font-size: 36px;
	font-weight: 400;
}

.prepend-1:nth-child(2) {
	font-family: @sansFont;
	font-size: 18px;

	// location name
	div:nth-child(2){
		div:nth-child(1) {
			font-weight: 600;
		}
	}

	// location address
	div:nth-child(1n+2) {
		font-weight: 300;
	}

	// event link
	a {
		font-family: @serifFont;
	}
}

hr {
	display: none;
}