/* ...................................the schedule*/

// style the name of the conference
.bottom {
	// position: relative;
	// left: 240px;
	float: right;
	color: @fontGray;
	font-family: @serifFont;
	font-size: 36px;
	font-weight: 400;
}

// float the dates to the left
.loud {
	float:left;
}

// style event start date
.date-display-start {
	display: block;
	margin-bottom: 14px;
	color: @fontGray;
	font-family: @serifFont;
	font-size: 48px;
	font-weight: 400;
}


// hide the dash from the original site
.date-display-separator {
	display: none;
}

// style event end date
.date-display-end {
	padding-top: 17px;
	display: block;
	color: @fontGray;
	font-family: @serifFont;
	font-size: 48px;
	font-weight: 400;
	border-top: 1px solid @fontGray;
}

// style location name and address
.prepend-1:nth-child(2) {
	color: @fontGray;
	font-size: 18px;

	div:nth-child(1){
		font-weight: 600;
	}

	div:nth-child(1n+2) {
		font-weight: 400;
	}

	a {
		font-family: @serifFont;
		float: right;
	}
}

