//
// Responsive: Tablet to desktop
// --------------------------------------------------


@media (min-width: 768px) and (max-width: 979px) {

  // Fixed grid
  #grid > .core(@gridColumnWidth768, @gridGutterWidth768);

  // Fluid grid
  #grid > .fluid(@fluidGridColumnWidth768, @fluidGridGutterWidth768);

  // Input grid
  #grid > .input(@gridColumnWidth768, @gridGutterWidth768);

  // No need to reset .thumbnails here since it's the same @gridGutterWidth


	/* ...................................the invite page*/

	.invite-bill {
		margin-bottom: 60px;
	}

	.itineary {
		margin-bottom: 60px;
  	padding: 40px 0;
	}

	/* ...................................the bill page*/

	.about-article {
		h1 {
			font-size: 90px;
		}

		.span9 p {
			margin-left: 30px;
		}
	}

	/* ...................................the Q&A page*/

	.aq-text {
		padding-top: 12px;
	}

	.curly-bracket {
		position: relative;
		top: -9px;
		left: -20px;
	}

	/* ...................................the blog page*/

	.rss-subscribe {
		width: 166px;
	}

	.widget_search input[type='text'] {
		width: 107px;
	}

	.rss-subscribe img {
		padding: 0;
	}

	.single-post iframe.vimeo {
		width: 100%;
	}

	/* ...................................the good news page*/

	.good-news h1 {
		font-size: 130px;
	}

	.excerpt iframe {
		width: 100%;
	}

	/* ...................................the the house of generals page*/

	.donate-mf {
		padding: 55px 0 0;

		h2 {
			font-size: 18px;
		}
	}

	 iframe {
		width: 100%;
	}

	.money-bag img, .drawer img {
		margin-left: 0;
	}

	.money-bag {
		width: 70px;
	}

	.donation input {
		width: 190px;
	}

	.or {
		margin-left: 50px;
	}

}
