//
// Responsive: Tablet to desktop
// --------------------------------------------------


@media (min-width: 768px) and (max-width: 979px) {

  // Fixed grid
  #grid > .core(@gridColumnWidth768, @gridGutterWidth768);

  // Fluid grid
  #grid > .fluid(@fluidGridColumnWidth768, @fluidGridGutterWidth768);

  // Input grid
  #grid > .input(@gridColumnWidth768, @gridGutterWidth768);

  // No need to reset .thumbnails here since it's the same @gridGutterWidth

  .social-icons {
  	float: left;
  	margin-top: 0;
  	padding-left: 10px;
  }
  .news .right-border {
  	margin-left: 32px;
  }

  .news .messages-news-blog span {
  	font-size: 44px;
  }

  .little-video {
  	padding-bottom: 44.5%;
  }

  .bill-photo {
  	.square(200px);
  	margin-top: 35px;
  }

  .house-of-generals .carousel {
  	p {
  		font-size: 11px;
  		line-height: 1.5;
  	}
  }

  .generals-title {
  	margin: 10px 40px 5px;
  	padding-bottom: 5px;
  	font-size: 15px;
  }

  .a-and-q-text {
  	top: -50px;
  	left: 37%;
  	width: auto;
  	padding: 50px 0;
  	font-size: 122px;
  }

  .answers-home .questions {
  	width: 230px;
  }

  .answers-home .answers {
  	width: 235px;
  }

  .donate-to-bjm {
  	margin-bottom: 12px;
  }



}
