/*
Project Name: Bill Johnson Ministries
*/

body {
	color: @fontGray;
	font-family: @sansFont;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: @serifFontFamily;
	font-weight: 400;
}

h1 {
	color: @yellow;
	font-size: 40px;
}

h2 {
	font-size: 24px;
}

a {
	color: @yellow;

	&:hover {
		color: darken(@linkColor, 5%);
	}
}

button[type="submit"] {
	width: 123px;
	height: 35px;
	color: @gray;
	font-family: @serifFontFamily;
	font-size: 18px;
	font-weight: 900;
	line-height: 1.8;
	text-transform: uppercase;
	#gradient > .vertical(#ffffff, #e0e0e0);
	border-color: #e2e2e2;
	.border-radius(0);
}

.boxy {
	background: url('../img/shadow-top.png') top center no-repeat,
	url('../img/shadow-bottom.png') center 100% no-repeat;
	background-color: @grayLighter;
}

.boxy-no-color {
	background: url('../img/shadow-top.png') top center no-repeat,
	url('../img/shadow-bottom.png') center 100% no-repeat;
}

// borders
.pagination ul > li > a {
	color: @fontGray;
	font-family: @serifFontFamily;
	border: 1px solid @gray;
}

.pagination-large ul > li > a {
	margin: 0 3px;
	padding: 11.5px 17px;
}

// no border radius
.pagination-large ul > li:first-child > a, 
.pagination-large ul > li:last-child > a {
	.border-radius(0);
}


/* ...................................the header*/
header {
	font-family: @serifFont;
	font-size: 22px;

	.top-menu {
		margin-bottom: -5px;
	}
}

.bethel-menu {

	// margin-top: 30px;
	// padding-top: 30px;

	.container {
		padding-bottom: 20px;
		border-bottom: 1px solid @yellow;
	}
 	
 	.nav-collapse {
 		margin-left: 108px;
 	}

 	.nav {
 		display: none;
 		height: 40px;
 		// margin-bottom: 30px;
 	}

 	.bethel-menu-toggle {
 		position: relative;
 		top: -10px;
 		width: 230px;
 		margin: 0 auto;
 		color: @yellow;
 		font-size: 24px;
 		font-style: italic;
 		text-align: center;
 		background-color: @white;
 		cursor: pointer;

 		.chevron {
 			position: relative;
 			top: 5px;
 			left: 15px;
 			display: block;
 			float: left;
 			width: 26px;
 			height: 13px;
 			background: url(../img/chevron-down.png) no-repeat;

 			&:last-child {
 				float: right;
 				left: -15px;
 			}
 		}
 	}

 	.nav > li > a{
		color: @yellow;
		font-style: italic;
		font-weight: 100;
 	}
}

.bill-menu {
	text-transform: uppercase;

	.nav > li > a {
		padding: 10px 20px 10px;
		color: @grayDarker;
		font-size: 20px;
		letter-spacing: 2px;
	}

	.nav {
		margin-top: 10px;
	}
}

.social-icons {
	margin-top: 27px;

	img {
		padding-right: 5px;	}

	li:last-child {
		img {
			padding-right: 0;
		}
	}

	li:nth-child(-n+2) {
		border-right: 1px solid @yellow;
	}
}

/* ...................................the footer*/

footer {
	color: @gray;
	margin-bottom: 10px;

	.footer {
		margin-top: 69px;
		margin-bottom: 23px;
		padding: 60px 0 40px;
		border-top: 1px solid @gray;
		border-bottom: 1px solid @gray;
	}
}

.newsletter {
	margin-bottom: 6px;
	font-family: @serifFontFamily;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
}

.small-text {
	margin-bottom: 6px;
	font-size: 11px;
	line-height: 14px;
	text-transform: uppercase;
}

.submit-email  {
	input{
		width: 183px;
		padding: 9px 0 9px 15px;
		color: @grayLight;
		font-size: 14px;
		font-weight: 300;
		border: 1px solid @gray;
		.border-radius(2px);
	}
}

.submit-newsletter {
	max-width: 200px;

	button 
	{
		margin-top: -15px;
	}
}

.vertical-menu li {
	font-size: 14px;
	margin-bottom: 13px;
}

.donate-to-bjm {
	margin-bottom: 5px;
	font-family: @serifFontFamily;
	font-size: 18px;
	text-transform: uppercase;
}

.amount-to-give {
	max-width: 220px;

	form {
		margin-bottom: 5px;
	}

	input{
		max-width: 203px;
		padding: 9px 0 9px 15px;
		color: @grayLight;
		font-size: 14px;
		font-weight: 300;
		background: transparent;
		border: 1px solid @gray;
		.border-radius(2px);
	}

	button {
		width: 100px;
		margin-top: 5px;
	}
}

.paypal-btn {
	width: 100px;
	padding: 2px 12px 2px;
	

	p {
			display: block;
			position: relative;
			height: 8px;
			top: -5px;
			font-size: 9px;
			font-style: italic;
			font-weight: 700;
		}
}

.copyright {
	color: @yellow;
	font-size: 15px;
	font-family: @serifFontFamily;
	font-weight: 600;
	letter-spacing: 2px;

	a {
		color: @yellow;
		margin-right: 32px;
	}
}

.footer-icons li:nth-child(-n+2) {
	border-right: 1px solid @yellow;
}


/* ...................................the slider*/

.hero-slider {
	margin-top: 18px;
}

.carousel-indicators {
	top: auto;
	right: auto;
	bottom: 40px;
	left: 27%;

	li {
		.square(12px);
		// padding: 1px;
		background-color: transparent;
		border: 1px solid @gray;
		.border-radius(50%);
		cursor: pointer;

		&.active {
			background: transparent;

			span {
				background: @white;
				display: block;
				.border-radius(50%);
				margin: auto;
				margin-top: 2px;
				.square(8px);
			}
		}
	}
}

.carousel-caption {
	float: right;
	left: auto;
	width: 40.5%;
	height: 100%;
	padding: 0;
	background: rgba(255,255,255, 0.75);

	h4 {
		margin-bottom: 22px;
		padding-bottom: 6px;
		font-size: 24px;
		line-height: 24px;
		text-transform: uppercase;
		border-bottom: 1px solid @fontGray;
	}

	p {
		font-size: 12px;
		line-height: 20px;
	}

	a {
		width: 105px;
		height: 21px;
		margin-top: 28px;
		font-family: @serifFontFamily;
		font-size: 18px;
		text-transform: uppercase;
		background: transparent;
		border: 1px solid @fontGray;
		.border-radius(0);
	}

	h4,
	p {
		color: @fontGray;
	}

	.inner {
		padding: 50px 80px 30px 60px;
	}
}

.carousel-control {
	width: 50px;
	height: 95px;
	margin-top: 0;
	line-height: 70px;
	font-size: 90px;
	font-family: @serifFontFamily;
	font-weight: 400;
	background: rgba(255,255,255,0.4);
	border: none;
	.border-radius(0);
}

.carousel-control.left {
	left: 0;
	.border-right-radius(10px);
}

.carousel-control.right {
	right: 0;
	.border-left-radius(10px);
}

/* ...................................the news*/

.news {
	margin-top: 25px;

	a{
		font-size: 18px;
		font-weight: 400;
	}

	ul {
		margin-top: 40px;
		margin-left: 18px;
		list-style-image:url('../img/yellow-arrow.png');

		h3 {
			font-family: @sansFont;
			line-height: 27px;
		}
	}

	.right-border {
		margin-left: 50px;
		margin-right: 0;
		padding-left: 49px;
		border-left: 1px solid #000;
	}

	.messages-news-blog {
		color: @gray;
		font-family: @serifFont;
		font-size: 35px;
		font-weight: 100;
		letter-spacing: 5px;
		

		span {
			display: block;
			font-size: 60px;
			font-weight: 300;
			text-transform: uppercase;
		}
	}
}

/* ...................................the featured product*/

.featured-product {
	margin: 66px 0 86px;
	padding: 57px 0;
	color: @fontGray;
	background-color: @grayLighter;
}

.product-image {
	img {
		position: relative;
		top: 5px;
	}
}

.product-title {
	margin: 37px 0 58px;
	font-family: @serifFontFamily;
	font-size: 50px;
}

.product-endorsement {
	font-family: @serifFontFamily;
	font-size: 30px;
	font-style: italic;
	line-height: 30px;
}

.endorser-title {
	margin: 50px 0;
	padding: 15px 0;
	border-top: 1px solid @fontGray;
	border-bottom: 1px solid @fontGray;
}

.product-endorser {
	font-size: 18px;
	font-weight: 600;
}

.product-buttons {
	font-family: @serifFontFamily;
	text-transform: uppercase;

	.btn {
		padding: 11px 24px;
		font-size: 25px;
		border: 1px solid @fontGray;
		.border-radius(1px);
	}
}

.product-link {
	color: @white;
	background: rgba(0,0,0,0.30);
	}

.other-products {
	margin-left: 31px;
	background: rgba(0,0,0,0);
}

/* ...................................the videos*/

.video {
	margin-bottom: 80px;

	iframe {
		// width: 100%;
		// height: 100%;
	}

	.video-layout {
		&:last-child {
			padding-top: 25px;	
		}
	}
}

.big-video {
	padding-bottom: 35.8%; /* 16:9 */
}

.little-video {
	margin-bottom: 20px;
	padding-bottom: 46.7%; /* 16:9 */
}

.video-wrapper {
	position: relative;
	// padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}


/* ...................................the facebook*/

.facebook {
	padding: 90px 0 37px;
	background-color: @grayLighter;
}

.bill-photo {
	display: block;
	.square(271px);
	margin-left: 10px;
	.box-shadow(0px 20px 35px -20px @black);
}

.status {
	height: 400px;
	margin-top: -70px;
	background: url(../img/facebook-quotes.png) no-repeat center center;
}

.status-borders {
	margin-top: 135px;
	padding: 30px 0;
	background-color: rgba(238, 238, 238, 0.8);
	border-top: 1px solid @yellow;
	border-bottom: 1px solid @yellow;
}

.facebook-gold {
	border-right: 1px solid @yellow;
}

.facebook-update {
	margin-right: -1px;
	color: @yellow;
	font-family: @serifFont;
	font-size: 18px;

	a {
		color: @yellow;
		text-decoration: underline;
	}
}

#lifestream {
	height: 82px;
}

.lifestream {
	display: table;
	height: 100%;
}

.lifestream-facebook_page {
	display: table-cell;
	letter-spacing: 2px;
	line-height: 1.2;
	vertical-align: middle;
}

/* ...................................the house of generals*/

.house-of-generals {
	min-height: 425px;
	margin: 65px 0 65px;
}

.generals-background {
	// background: url('../img/house-of-generals-bk.png');
}

.generals {
	color: @fontGray;
	font-size: 12px;
	background: rgba(255,255,255,0.65);
}

.generals-title {
	margin: 40px 40px 25px 40px;
	padding-bottom: 10px;
	font-family: @serifFontFamily;
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
	border-bottom: 1px solid @fontGray;
}

.generals-text {
 margin-left: 40px;
 margin-right: 40px;
 line-height: 20px;

 p:nth-child(1) {
 	padding-bottom: 6px;
 }
}

.learn-more {
	margin: 12px 40px 25px;
	font-family: @serifFontFamily;
	font-size: 18px;
	text-transform: uppercase;
	background: rgba(0,0,0,0);
	border: 1px solid @fontGray;
	.border-radius(1px);

	a {
		color: @fontGray;
	}
}

/* ...................................the homepage Q&A*/

.questions-home {
	padding: 42px 0;
	font-family: @serifFontFamily;
	border-top: 1px solid @fontGray;
	border-bottom: 1px solid @fontGray;
}

.a-and-q-text {
	position: absolute;
	top: -73px;
	left: 33%;
	z-index: 999;
	width: 300px;
	padding: 65px 0;
	color: @fontGray;
	font-family: @serifFont;
	font-size: 140px;
	text-align: center;
	background-color: @white;
	.border-radius(50%);

	img {
		.opacity(80);
	}
}

.amperstand-home {
	margin-right: -33px;
	position: relative;
	top: -33px;
}

.answers-home {
	margin-bottom: -30px;
	font-family: @serifFontFamily;

	a {
		font-style: italic;
		text-decoration: underline;
	}

// vertical carousel 

	.qa-Carousel {
		width: 100%;
	}

	.vertical .carousel-inner {
	  height: 123px;
	  border-top: 1px solid @black;
	  border-bottom: 1px solid @black;
	}

	.carousel.vertical .item {
	  -webkit-transition: 0.6s ease-in-out top;
	     -moz-transition: 0.6s ease-in-out top;
	      -ms-transition: 0.6s ease-in-out top;
	       -o-transition: 0.6s ease-in-out top;
	          transition: 0.6s ease-in-out top;
	}

	.carousel.vertical .active {
	  top: 0;
	}

	.carousel.vertical .next {
	  top: 400px;
	}

	.carousel.vertical .prev {
	  top: -400px;
	}

	.carousel.vertical .next.left,
	.carousel.vertical .prev.right {
	  top: 0;
	}

	.carousel.vertical .active.left {
	  top: -400px;
	}

	.carousel.vertical .active.right {
	  top: 400px;
	}

	.carousel.vertical .item {
	    left: 0;

	}


	.carousel-control {
		position: relative;
		display: block;
		float: left;
		clear: both;
		width: 16px !important;
		height: 11px !important;
		color: @black;
		background: none;
		text-decoration: none;
		opacity: 1;

		img {
			position: absolute;
			top: 0;
			left: 0;
		}

		&.left {
			// height: 14px !important;
			position: relative;
			left: 0;
			top: -85px;
			padding-bottom: 10px;
			border-bottom: 1px solid @black;
			.border-radius(0);
		}

		&.right {
			// height: 14px;
			position: relative;
			// left: -20px;
			top: -75px;
		}
	}

	.questions,
	.answers {
		display: table;
		height: 122px;
		color: @gray;
		letter-spacing: 1px;
		line-height: 1.2;
	}

	.questions {
		float: left;
		width: 255px;
		margin-left: 40px;

		a {
			display: table-cell;
			vertical-align: middle;
			font-style: normal;
			text-decoration: none;
		}
	}

	.answers {
		float: right;
		// width: 33%;
		width: 310px;
		height: 122px;

		p {
			display: table-cell;
			vertical-align: middle;
		}
	}

	

	// !vertical carousel
}



/* ...................................the schedule*/

.schedule {
	img {
		margin-top: 18px;
	}

	.bethel-schedule {
		height: 100%;
		padding: 20px 0;
	}
}
/* ...................................the schedule*/
//see itinerary.less

/* ...................................the invite*/

.invite-bill {
	margin-bottom: 70px;
	color: @fontGray;
	font-size: 16px;
	line-height: 22px;

	h2 {
		margin: 40px 0 25px;
		color: @fontGray;
		font-family: @serifFont;
		font-size: 36px;
	}
}

.itineary {
	margin-bottom: 80px;
	padding: 140px 0 190px;
	font-size: 16px;
	line-height: 22px;

	h1 {
		padding-bottom: 11px;
		font-size: 60px;
		font-weight: 400;
	}

	.itineary-text {
		
	}
}

.itineary-contact {
	color: @gray;
	font-size: 12px;
	line-height: 20px;
	text-transform: uppercase;

	.contact-details {
		color: #000;
		font-size: 24px;
		padding-bottom: 38px;
	}

	input[type="text"] {
		height: 30px;
		border: 1px solid @gray;
		.border-radius(0);
	}
}

.invite-submit {
	max-width: 1100px;
}

#searchform {
	input[type="text"] {
		background: url(../img/search-form.png) no-repeat 190px center;
	}
}

/* ...................................the blog page*/
.blog {
	color: @fontGray;
}

.post-excerpt{
	margin-top: 20px;

	&:nth-child(odd) {
		clear: both;
	}
}



.blog-title {
	margin: 30px 0 2px;
	font-family: @serifFont;
	font-size: 36px;
	font-weight: 300;

	a {
		color: @fontGray;
	}
}

.blog-author {
	font-family: @serifFont;
	font-size: 18px;
	line-height: 18px;
}

.blog-page {
		margin: 23px 0 20px;
	}

.uppercase {
	
	color: @yellow;
	font-size: 12px;
	text-transform: uppercase;

	a {
		color: @yellow;
	}
}

.the-excerpt {
	font-size: 16px;
	line-height: 22px;
}


.read-more {
	margin-top: 23px;
	color: @yellow;
	text-decoration: underline;

	a {
		color: @yellow;
	}
}

/* ...................................the sidebar*/

#sidebar {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li  a {
		color: @yellow;
		font-size: 16px;
		font-weight: 300;
		line-height: 30px;
		text-decoration: underline;
	}

	& >	ul > li:nth-child(n+4) {
		margin-top: 50px;
		border-top: 1px solid @gray;
	}
}

.rss-subscribe {
	height: 44px;
	width: 220px;
	margin-top: 50px;
	font-family: @serifFontFamily;
	font-size: 25px;
	text-transform: uppercase;
	background-color: @white;
	border: 1px solid @fontGray;
	.border-radius(3px);

	img {
		position: relative;
		top: -4px;
		padding-right: 20px;
	}
}

.screen-reader-text {
	display: none;
}

#searchsubmit {
	display: none;
}

.widget_search input[type='text'] {
	width: 206px;
	height: 32px;
	margin-top: 10px;
	margin-bottom: -19px;
	border: 1px solid @gray;
	.border-radius(3px);
}

.widget-title {
	padding-top: 39px;
	font-size: 24px;
	font-weight: 300;
	line-height: 22px;
	text-transform: uppercase;
}

/* ...................................the Q&A*/

.ask-question-row {

	h2 {
		color: @yellow;
		font-family: @serifFont;
		font-size: 60px;
		font-weight: 300;
	}

	input {
		margin-bottom: 18px;
		height: 60px;
		width: 286px;
		border: 1px solid @fontGrayDarker;
		.border-radius(2px);
	}

	button {
		margin: auto;
		display: block;
	}
}

.q-and-a-background {
	padding: 37px 0;
	background-color: @grayQandABackground;
}

.aq-text {
	text-align: center;
	color: @fontGray;
	font-family: @serifFont;
	font-size: 140px;
}

.amperstand {
	margin-right: -33px;
	position: relative;
	top: -33px;
}

.curly-bracket {
	
}

.ask-container {
	text-align: center;

	.align {
		position: relative;
		left: -55px;
	}
}

.ask {
	padding: 15px 0;
	color: @fontGrayDarker;
	font-size: 12px;
	text-transform: uppercase;
}

.answer-block {
	// clear: both;
	// height: 50px;
	padding: 15px 0;
	border-bottom: 1px solid #b2b2b3;

	img {
		display: block;
		position: relative;
		top: 4px;
		float: left;
		width: 29px;
		height: 30px;
		margin-right: 15px;
	}
}

.answer-title {
	float: left;
	width: 256px;

	a {
		font-size: 14px;
		font-weight: 300;
		line-height: 1;

		a:hover {
			text-decoration: none;
		}
	}
}

.affix {
	top: 40px; 
  left: auto;
}

/* ...................................the Q&A sidebar*/

iframe {
	padding-bottom: 50px;
}

/* ...................................the single blog post*/

.single-post {
		color: @fontGray;
		margin: 10px 0 73px;
	}

/* ...................................the house of generals*/
.HoG-video {
	iframe {
		margin-bottom: 25px;
	}
}

blockquote {
	width: 220px;
	border: none;

	p {
	color: @yellow;
	font-family: @serifFontFamily;
	font-size: 36px;
	line-height: 28px;
	}
}

.bq {
	padding-bottom: 40px;

	&:nth-child(odd) {
		blockquote {
			float: left;
		}
	}

	&:nth-child(even) {
		blockquote {
			float: right;
		}
	}
}

.donate-mf {
	margin-top: 20px;
	background-color: @grayLighter;

	textarea {
		width: 215px;
		height: 50px;
	}

	.submit-newsletter {
		max-width: 229px;
		margin-bottom: 140px;

		button {
			width: 100px;
		}
	}
}

.materials {
	color: @black;
	margin: 75px 0 48px;
	font-size: 24px;
	text-transform: uppercase;
}

.materials-text {
	margin-bottom: 100px;
	color: @fontGray;
	font-size: 16px;

	div:nth-child(2) {
		margin-top: 28px;
	}
}

.money-bag {
	margin-left: 25px;
}

.donate-money, .donate-materials {
	margin-bottom: 38px;
	color: @yellow;
	font-family: @serifFontFamily;
	font-size: 24px;
	text-transform: uppercase;
}

.or {
	margin-top: 52px;
	color: @yellow;
	font-family: @serifFontFamily;
	font-size: 72px;
	line-height: 72px;
	text-align: center;
}

.donate-margin {
	margin-left: 0;
	width: 240px;

	textarea {
		color: @grayLight;
		font-size: 14px;
		font-weight: 300;
		background: transparent;
		border: 1px solid @gray;
		.border-radius(2px);
	}
}

/* ...................................the good news*/

.filter {
	color: @grayLight;
	margin-top: 62px;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;

	img {
		margin: 0 5px;
	}
}

.good-news {
	padding: 96px 0;

	h1 {
		color: @yellow;
		font-size: 140px;
		text-align: center;
	}

	h4 {
		padding-top: 17px;
		color: @fontGray;
		font-size: 60px;
		text-align: center;
	}

	h2 {
		color: @fontGray;
	}
}

.goodnews-post {
	margin-top: 20px;
	border-top: 1px solid @grayLight;

	h2 {
		margin-top: 20px;
	}

	h2 a {
		color: @fontGray;
		font-size: 36px;
	}

	.blog-author, a {
		color: @fontGray;
		margin-bottom: 20px;
	}

	.uppercase {
		text-transform: uppercase;
	}

	.underline > a{
		color: @yellow;
		font-size: 14px;
		font-weight: 300;
		text-decoration: underline;
	}
}

.bold {
	font-weight: 600;
}

.excerpt {
	p {
		margin-top: 20px;
		color: @fontGray;
		font-size: 16px;
		line-height: 22px;
	}

	.read-more, iframe {
		padding-bottom: 27px;
	}

	iframe {
		margin-top: 25px;
	}
}
/* ...................................the contact*/

.map {

	h3 {
		margin-top: 33px;
		color: @fontGray;
		font-size: 36px;
	}

	h2 {
		margin-top: 33px;
		color: @yellow;
		font-size: 36px;
	}
}

.send-a-message {
	color: @fontGrayDarker;
	font-size: 12px;
	text-transform: uppercase;

	h4 {
		color: @black;
		font-family: @sansFont;
		font-size: 24px;
		text-transform: uppercase;
	}
	.control-label {
		text-align: left;
	}

	.form-horizontal .control-group {
		margin-bottom: 7px;
	}

	input[type='text'], 
	input[type='email'] {
		background: transparent;
	}
}

.note {
	color: @yellow;
	font-size: 18px;

	h6 {
		font-family: @sansFont;
		text-transform: uppercase;
	}

	p {
		padding: 0;
		margin: 0;
		font-family: @serifFontFamily;
	}
}
/* ...................................the about*/

.about {
	margin-bottom: 72px;
}

.about-article {
	color: @fontGray;
	font-size: 16px;
	margin-top: 15px;

	h3 {
		padding-bottom: 8px;
		color: @fontGray;
		font-family: @serifFontFamily;
		font-size: 36px;
		border-bottom: 1px solid @fontGray;
	}

	h1 {
		margin: 33px 0 75px;
		color: @fontGray;
		font-family: @serifFontFamily;
		font-size: 110px;
	}

	p:nth-child(1) {
		margin-top: 53px;
	}

	p {
		margin-bottom: 18px;
		line-height: 22px;
	}
}

/* ...................................the end*/

img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}










.entry-title {
	
}

.entry-meta {
	
}

.entry-utility {
	
}

.entry-content {
	
}

.entry-summary {
	
}

.lifestream {
	list-style: none;
	margin: 0;
	padding: 0;
}

a.qa-aname {
	display: block;
	margin-bottom: 50px;
}


/*..................................the slide in effect */
.module {
	width: 100%;
	position: relative;
	float: left;

	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-o-transform-origin: center center;
	-ms-transform-origin: center center;
	transform-origin: center center;
}

.module:nth-child(even) {
	margin-right: 0;
}

.module.off-screen-top {
	-webkit-transform: translateY(-150px);
	-moz-transform: translateY(-150px);
	-o-transform: translateY(-150px);
	-ms-transform: translateY(-150px);
	transform: translateY(-150px);
}

.module.off-screen-bottom {
	-webkit-transform: translateY(150px);
	-moz-transform: translateY(150px);
	-o-transform: translateY(150px);
	-ms-transform: translateY(150px);
	transform: translateY(150px);
}

.come-in {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-o-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);

	-webkit-transition: -webkit-transform 0.8s ease-out;
	-webkit-transition: -webkit-transform 0.8s ease-out;
	-webkit-transition: -webkit-transform 0.8s ease-out;
	-webkit-transition: -webkit-transform 0.8s ease-out;
	transition: transform 0.8s ease-out;
}

.come-in:nth-child(odd) {
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.already-visible {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-o-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);

	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}

