/*
Project Name: Bill Johnson Ministries
*/

body {
	font-family: @sansFont;
	font-size: 16px;
}

h1 {
	color: @yellow;
	font-family: @serifFont;
	font-size: 40px;
	font-weight: 100;
}

h2 {
	font-family: @serifFont;
	font-size: 24px;
	font-weight: 100;
}

/* ...................................the header*/
header {
	font-family: @serifFont;
	font-size: 22px;

	.navbar-inner {
		border: none;
	}

	.bethel-menu 
	 {
	 	border-bottom: 1px solid @yellow;
	 	.nav > li > a{
			color: @yellow;
			font-style: italic;
			font-weight: 100;
	 	}
	}

	.bill-menu {
		text-transform: uppercase;
		border-bottom: 1px solid @yellow;

		.nav > li > a {
			color: @grayDarker;
			vertical-align: text-bottom;
		}
	}
}

/* ...................................the footer*/

.footer-top {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.newsletter {
	font-family: @serifFont;
	text-transform: uppercase;
}

.monthly-podcast {
	text-transform: uppercase;
}

.footer-menu {
}

.donate-text {
	//color: ;
	//font-size: ;
	text-transform: uppercase;
}

.donate-bjm {
	font-family: @serifFont;
	font-weight: 700;
}

.copyright-privacy {
	color: @yellow;
	font-family: @serifFont;
	//font-size:;

	 a {
	 	color: @yellow;
	 	padding-right: 30px;
	 }
}

/* ...................................the slider*/

.hero-slider {
	margin-top: 18px;
	height: 500px;
	border: 1px solid #000;
}

/* ...................................the news*/

.news {
	ul {
		list-style-image: url('/img/');
	}

	.life-messages {
		margin-right: -20px;
	}

	.good-news {
		margin-right: -60px;
	}

	a{
		font-size: 18px;
		font-weight: 100;
		color: @yellow;
	}

	.messages-news-blog {
		font-family: @serifFont;
		font-size: 35px;
		font-weight: 100;
		color: @gray;
	}

	.messages-news-blog-2nd{
		font-family: @serifFont;
		font-size: 60px;
		font-weight: 100;
		text-transform: uppercase;
		color: @gray;
	}
}

/* ...................................the featured product*/

.feature-product {

	.product-image {
		
	}	

	.product-title {
		font-family: @serifFont;
		//font-size: ;
	}

	.product-endorsement {
		font-family: @serifFont;
		//font-size: ;
		font-style: italic;
	}

	.product-endorser-title {
		//font-size: ;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
	}

	.product-endorser {
		font-weight: 900;
	}

	.product-link {
		width: 190px;
		color: #fff;
		font-family: @serifFont;
		//font-size: ;
		text-transform: uppercase;
		background: #000;
		a {
			color: #fff;
		}
	}

	.other-products {
		width: 280px;
		font-family: @serifFont;
		//font-size: ;
		text-transform: uppercase;
		background: #eee;
		a {
			color: #000;
		}
	}
}

/* ...................................the videos*/

.video {

	.video-layout {
		&:last-child {
			padding-top: 25px;	
		}
		
	}

}

/* ...................................the facebook*/

.facebook {
	color: @yellow;
	font-family: @serifFont;
	font-size: ;

	.facebook-borders {
		padding: 30px;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
	}

	.facebook-status {
		padding: 20px 20px;
		border-left: 1px solid #000;
	}
}

/* ...................................the house of generals*/

.house-generals {
	//color: ;
	//font-size: ;

	.generals-heading {
		margin-bottom: 27px;
		font-family: @serifFont;
		//font-size: ;
		border-bottom: 1px solid #000;
		text-transform: uppercase;
	}

	.learn-more {
		font-family: @serifFont;
		//font-size: ;
		text-transform: uppercase;
		//background: ;
	}

}

/* ...................................the Q&A*/

.q-and-a {
	//color: ;
	font-family: @serifFont;
	//font-size: ;

	.questions {
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
	}

	.answers {
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
	}
}

/* ...................................the invite*/

.invite-bill {
	h2 {
		padding: 25px 0 10px;
	}
}

.itineary {
	padding-top: 52px;
}
.itineary-contact {
	color: @gray;
	font-family: ;
	font-size: 12px;
	text-transform: uppercase;

	.contact-details {
		color: #000;
		font-size: 24px;
	}

	input[type="text"] {
		width: 300px;
		height: 30px;
		background: @gray;
		//#gradient > .vertical(#ffffff, #f6f6f6);
		.border-radius(0);
	}
}





/* ...................................the end*/

img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}










.entry-title {
	
}

.entry-meta {
	
}

.entry-utility {
	
}

.entry-content {
	
}

.entry-summary {
	
}

.lifestream {
	list-style: none;
	margin: 0;
	padding: 0;
}

a.qa-aname {
	display: block;
	margin-bottom: 50px;
}