/*
Project Name: Bill Johnson Ministries
*/

body {
	font-family: @sansFont;
	font-size: 16px;
}

h1 {
	color: @yellow;
	font-family: @serifFont;
	font-size: 40px;
	font-weight: 100;
}

h2 {
	font-family: @serifFont;
	font-size: 24px;
	font-weight: 100;
}

/* ...................................the header*/
header {
	font-family: @serifFont;
	font-size: 22px;

	.top-menu {
		margin-bottom: -5px;
	}

	.bethel-menu 
	 {
	 	border-bottom: 1px solid @yellow;

	 	.nav-collapse {
	 		margin-left: 108px;
	 	}

	 	.nav > li > a{
			color: @yellow;
			font-style: italic;
			font-weight: 100;
	 	}
	}

	.bill-menu {
		text-transform: uppercase;
		border-bottom: 1px solid @yellow;

		.nav > li > a {
			color: @grayDarker;
		}
	}
}

/* ...................................the footer*/
footer {
	color: @gray;

	a {
		color: @gray;
	}

	.footer-top {
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
		padding-top: 53px;
		padding-bottom: 57px;
	}

	.newsletter {
		padding-bottom: 4px;
		font-family: @serifFont;
		font-size: 18px;
		text-transform: uppercase;
	}

	.monthly-podcast {
		font-family: @sansFont;
		font-size: 11px;
		line-height: 14px;
		text-transform: uppercase;
	}

	.email-signup {

		input[type="text"] {
			width: 186px;
			height: 30px;
			margin: 0;
			color: @grayLight;
			font-family: @sansFont;
			font-size: 14px;
			font-weight: 100;
			border-color: @gray;
			.border-radius(0);
		}

		button[type="submit"] {
			width: 123px;
			height: 35px;
			margin: 15px 20px 0 0;
			color: @gray;
			font-family: @serifFont;
			font-size: 18px;
			font-weight: 900;
			text-transform: uppercase;
			#gradient > .vertical(#ffffff, #e0e0e0);
			border-color: #e2e2e2;
			.border-radius(0);
		}
	}

	.footer-menu {
		color: @gray;
		font-family: @sansFont;
		font-size: 14px;
		font-weight: 100;

		li {
			margin-bottom: 10px;
		}
	}

	.donate-text {
		margin-bottom: 7px;
		color: @gray;
		font-size: 11px;
		line-height: 14px;
		text-transform: uppercase;
	}

	.donate-bjm {
		margin-bottom: 8px;
		font-family: @serifFont;
		font-size: 18px;
		font-weight: 500;
	}

	input[type="text"] {
		width: 220px;
		height: 30px;
		color: @grayLight;
		font-family: @sansFont;
		font-size: 14px;
		font-weight: 100;
		border-color: @gray;
		.border-radius(0);
	}

	button[type="submit"] {
		width: 100px;
		height: 35px;
		color: @gray;
		font-family: @serifFont;
		font-size: 18px;
		font-weight: 900;
		text-transform: uppercase;
		#gradient > .vertical(#ffffff, #e0e0e0);
		border-color: #e2e2e2;
		.border-radius(0);
	}

	.paypal-btn {
		width: 80px;
		padding: 0 10px;
		color: @gray;
		font-family: @sansFont;
		font-size: 10px;
		font-style: italic;
		font-weight: 700;
		#gradient > .vertical(#ffffff, #e0e0e0);
		border-color: #e2e2e2;
		.border-radius(0);

		span {
			display: block;
			position: relative;
			height: 13px;
			top: -5px;
		}
	}

	.copyright-privacy {
		padding: 30px 0 100px;
		color: @yellow;
		font-family: @serifFont;
		font-size: 15px;

		a {
		 	color: @yellow;
		 	padding-right: 30px;
		}
	}
}


/* ...................................the slider*/

.hero-slider {
	margin-top: 18px;
	height: 500px;
	border: 1px solid #000;
}

/* ...................................the news*/

.news {
	margin-top: 25px;

	a{
		font-size: 18px;
		font-weight: 400;
		color: @yellow;
	}

	ul {
		margin-top: 40px;
		margin-left: 18px;
		list-style-image:url('../img/yellow-arrow.png');

		h3 {
			line-height: 27px;
		}
	}

	.right-border {
		margin-left: 50px;
		margin-right: 0;
		padding-left: 49px;
		border-left: 1px solid #000;
	}

	.messages-news-blog {
		font-family: @serifFont;
		font-size: 35px;
		font-weight: 100;
		color: @gray;
	}

	.messages-news-blog-2nd{
		font-family: @serifFont;
		font-size: 60px;
		font-weight: 100;
		text-transform: uppercase;
		color: @gray;
	}
}

/* ...................................the featured product*/

.feature-product {

	.product-image {
		
	}	

	.product-title {
		font-family: @serifFont;
		//font-size: ;
	}

	.product-endorsement {
		font-family: @serifFont;
		//font-size: ;
		font-style: italic;
	}

	.product-endorser-title {
		//font-size: ;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
	}

	.product-endorser {
		font-weight: 900;
	}

	.product-link {
		width: 190px;
		color: #fff;
		font-family: @serifFont;
		//font-size: ;
		text-transform: uppercase;
		background: #000;
		a {
			color: #fff;
		}
	}

	.other-products {
		width: 280px;
		font-family: @serifFont;
		//font-size: ;
		text-transform: uppercase;
		background: #eee;
		a {
			color: #000;
		}
	}
}

/* ...................................the videos*/

.video {

	.video-layout {
		&:last-child {
			padding-top: 25px;	
		}
		
	}

}

/* ...................................the facebook*/

.facebook {
	color: @yellow;
	font-family: @serifFont;
	font-size: ;

	.facebook-borders {
		padding: 30px;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
	}

	.facebook-status {
		padding: 20px 20px;
		border-left: 1px solid #000;
	}
}

/* ...................................the house of generals*/

.house-generals {
	//color: ;
	//font-size: ;

	.generals-heading {
		margin-bottom: 27px;
		font-family: @serifFont;
		//font-size: ;
		border-bottom: 1px solid #000;
		text-transform: uppercase;
	}

	.learn-more {
		font-family: @serifFont;
		//font-size: ;
		text-transform: uppercase;
		//background: ;
	}

}

/* ...................................the Q&A*/

.q-and-a {
	//color: ;
	font-family: @serifFont;
	//font-size: ;

	.questions {
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
	}

	.answers {
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
	}
}

/* ...................................the invite*/

.invite-bill {
	h2 {
		padding: 25px 0 10px;
	}
}

.itineary {
	padding-top: 52px;
}
.itineary-contact {
	color: @gray;
	font-family: ;
	font-size: 12px;
	text-transform: uppercase;

	.contact-details {
		color: #000;
		font-size: 24px;
	}

	input[type="text"] {
		width: 300px;
		height: 30px;
		background: @gray;
		//#gradient > .vertical(#ffffff, #f6f6f6);
		.border-radius(0);
	}
}





/* ...................................the end*/

img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}










.entry-title {
	
}

.entry-meta {
	
}

.entry-utility {
	
}

.entry-content {
	
}

.entry-summary {
	
}

.lifestream {
	list-style: none;
	margin: 0;
	padding: 0;
}

a.qa-aname {
	display: block;
	margin-bottom: 50px;
}